[submodule "code/veld_code__spacy"]
	path = code/veld_code__spacy
	url = https://github.com/veldhub/veld_code__spacy.git
[submodule "data/mara-nlp-suite-internal"]
	path = data/mara-nlp-suite-internal
	url = https://gitlab.oeaw.ac.at/acdh-ch/mara/mara-nlp-suite-internal.git
