[submodule "veld_data_19_mara_models"]
	path = veld_data_19_mara_models
	url = https://gitlab.oeaw.ac.at/acdh-ch/nlp/veld_data_19_mara_models.git
[submodule "veld_code_11_publish_to_hf"]
	path = veld_code_11_publish_to_hf
	url = https://github.com/acdh-oeaw/veld_code_11_publish_to_hf.git
